<html>
    <head>
        <title>admin</title>
        {%load static%}
        <style>
            body{
                background-image: url({% static '/img/phone.jpg' %});
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size:100% 100%;
                
            }
        </style>
        {%include "adminheader.html" %}
    </head>
    <body>
        <h1 align="center">WELCOME TO ADMIN</h1>
    </body>
</html>